<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wissal1.rbmapplication">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTENT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rbm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rbm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Codes.General.MainActivity" />

        <receiver
            android:name=".Codes.General.SMSReceiver"
            android:exported="true">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Codes.General.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Codes.General.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".Codes.General.SendSMS" />
        <activity android:name=".Codes.Temperature.TempHistory" />
        <activity android:name=".Codes.Humidity.HumHistory" />
        <activity android:name=".Codes.Roof.RoofHistory"></activity>
    </application>

</manifest>